@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #fdfd96;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.1rem;
	height: 100%;
}

#wrapper {
	width: 85%;
	margin: 0 auto;
	overflow: hidden;
}

h1{
	text-align: center;
	padding: 15px;
}

#div1, #div2 {
	height: 450px;
	padding: 30px 20px;
	width: 45%;
	border-radius: 15px;
}

#div1 {
	float: left;
	background: white;
}

.valjak {
	display: inline-block;
	padding: 10px;
}

.ta, .bottom {
	text-align: center;
}

.formula {
	font-family: 'Arial', sans-serif;
	padding: 10px 15px;
	border-radius: 5px;
	display: inline-block;
}

.formula.right {
	float: right;
	padding:50px 40px;
}

.formula.bottom {
	border: 1px solid #808080;
	margin:0 auto;
	font-size: 1.3em;
}

#div2 {
	float: right;
	background: #d0e58e;
}

h2 {
	font-size: 1.6em;
	text-align: center;
	margin: 0;
}

.pojasnjenje {
	font-size: 0.8em;
}

#form {
	padding: 2px;
	margin: 30px;
	height: 34px;
	font-size: 1.2em;
}

#form > * {
	display: inline-block;
	margin: 0 2px;
}

#form br, #button {
	display: block;
}

input {
	background: white;
	padding: 5px;
	height: 20px;
	width: 40px;
	border: 1px solid  #808080;
	font-size: 18px;
	margin-bottom: -12px;

}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
	background: #8edfe5;
	border: 1px solid  #808080;
	height: 32px;
	font-size: 18px;

}

button {
	background: #8edfe5;
	border: 2px solid black;
	color: black;
	border-radius: 5px;
	padding: 15px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 30px;
	font-size:0.9em;
}


button:hover {
	background:#46b5bd;
	border: 2px solid black;
}

button:active {
	background:rgba(142, 223, 229, 0.5);
	border: 2px solid #808080;
	color: #808080;
}

button:focus {
	outline: none;
}

#resnje {
	background: white;
	border-radius: 15px;
	padding: 30px;
	font-size: 1.1em;
}
